//- @authors     gooofly (http://gooofly.com, wangfei.f2e@gmail.com)
//- @date        2016-01-17 15:45:39
//- @title       title
//- @description description

.navbar-header
  .navbar-logo
  .navbar-logo-text
    //- img(src= '../../assets/img/logo.svg')
  ul.navbar-menu
    li: a(href= url.home) 首页
    li: a(href= url.questions) 常见问题
    li: a(href= url.about) 关于
    //- li: a(href= '#').jsDownApp 下载APP