//- @authors     gooofly (http://gooofly.com, wangfei.f2e@gmail.com)
//- @date        2016-01-18 12:30:05
//- @title       title
//- @description description

//- .download-app-wrap
//-   .container
//-     .down-left
//-       .phone-img
//-     .down-right
//-       h3 智慧的管理让您的财富稳健增长
//-       .download
//-         //- .down-btn
//-         //-   button.btn.qr_code 扫二维码下载
//-         //-   .subpop
//-         //-     .subpop_inner
//-         //-       img.wechat-qr(src= '../../assets/img/qr.jpg')

//-         //- .down-btn: a.btn.android Android下载
//-         //- .down-btn: a.btn.apple iPhone下载
//-         .down-qr
.container
  .row
    ul.contact
      //- li.weibo: a.subtitle(href= 'http://weibo.com/micaiapp') 关注易胜宝微博
      li.wechat
        .subtitle 关注微信公众号
        .subpop
          .subpop_inner
            .wechat-qr
      li.tel
        .subtitle 易胜宝客服电话
        .subpop
          .subpop_inner
            h4.title 客服电话
            p.telnum 4000-361-888
            .desc
              h5 客服时间
              p.time 09:00 － 19:00
              p.workday 周一至周五
      li.mail: a.subtitle(href= 'mailto:kefu@easybao.com') 给我们发邮件
  hr
  .row
    .copyright
      //- p.disclaimer 历史表现并不是未来收益的保证。历史收益，收益预期并不能代表未来表现。所有证券投资都有风险，可能会带来损失。弥财的唯一义务是根据数学模型和金融分析得出的结果为用户提供投资信息，弥财并不提供任何其他金融服务，包括但不限于投资咨询服务、投资顾问服务及资产管理服务。
      //- p Copyright ©2016 金诚易胜宝
      //- p 浙ICP备16008860号 | 杭州金诚互联网金融服务有限公司
      p 浙ICP备16008860号 Copyright ©2016 金诚易胜宝

    ul.menu
      li: a(href= '#about') 公司介绍
      li: a(href= '#statement') 免责声明

