//- @authors     gooofly (http://gooofly.com, wangfei.f2e@gmail.com)
//- @date        2016-01-16 16:12:02
//- @title       title
//- @description description

.view.scroller(class=viewName, data-title= viewTitle)
  h2= viewTitle
  ul
    each url in urls
      li: a(href= url)= url


 